{{!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">NEW ARTICLES</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>Mongo Scrape</p>
    </div>
</div>
<div class="container-fluid article-container"></div>

<footer class="footer">
    <div class="container">
        <p> Mongo Scraper</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../public/assets/javascript/index.js"></script> --}}


<div class="jumbotron text-center">
    <div class="overlay">
        <h1 class="display-2 text-white">NPR News Scraper</h1>
        <hr class="my-5">
        <p class="display-5 text-white">Select A Category To Scrape!</p>
    <div class="btn-group btn-group-lg d-flex justify-content-center mb-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" id="news">News</button>
  <button type="button" class="btn btn-secondary" id="arts">Arts & Life</button>
  <button type="button" class="btn btn-secondary" id="music">Music</button>
  <button type="button" class="btn btn-secondary" id="topics">Topics</button>
  <button type="button" class="btn btn-secondary" id="programs">Programs & Podcasts</button>
</div>
    </div>
</div>

{{!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6" id="articles"></div>
    <div class="col-md-4" id="notes"></div>
    <div class="col-md-1"></div>
  </div>
</div> --}}