
<div class="jumbotron text-center">
    <div class="overlay">
        <h1 class="display-2 text-white">NPR News Scraper</h1>
        <hr class="my-5">
        <p class="display-5 text-white">Select A Category To Scrape!</p>
    <div class="btn-group btn-group-lg d-flex justify-content-center mb-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" id="news">News</button>
  <button type="button" class="btn btn-secondary" id="arts">Arts & Life</button>
  <button type="button" class="btn btn-secondary" id="music">Music</button>
  <button type="button" class="btn btn-secondary" id="race">Race & Culture</button>
</div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6" id="articles"></div>
    <div class="col-md-4" id="notes"></div>
    <div class="col-md-1"></div>
  </div>
</div>